{% extends 'scaffold.twig' %}
{% block metaTitle %}Contact Success
{% endblock %}

{% block content %}

  <div class="card card-default">
    <div class="card-body">
      <h3>Thank you, your message was recieved.</h3>
    </div>
  </div>
{% endblock content %}