{% extends 'scaffold.twig' %}
{% block metaTitle %}Topics
{% endblock %}


{% block content %}

  <h2>Route Group:</h2>
  <h3>topics</h3>
  <h3>topics/custom-parameter
    <span>
      <a href="topics/custom">param</a>
    </span>
  </h3>
  <h3>post => topics
    <span style="font-size: 14px;">(from a form)</span>
  </h3>

{% endblock %}